<div class="aliging_figures">
    <figure class="snip1584">
      <img src="./assets/photos/1.JPG" alt="sample87"/>
      <figcaption>
        <h3>Lucky to have such lovely GF</h3>
        <h5>Best Us</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/2.jpg" alt="sample119"/>
      <figcaption>
        <h3>Praising Bf for being good</h3>
        <h5>Shy &amp; Siggu</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/3.jpg" alt="sample120"/>
      <figcaption>
        <h3>Dont even dare to look other girls after you reach ireland</h3>
        <h5>Beating Me</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/4.jpg" alt="sample121"/>
      <figcaption>
        <h3>Its hard to maintain this part</h3>
        <h5>Sweet us</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/5.jpg" alt="sample122"/>
      <figcaption>
        <h3>Looking others will bring you this</h3>
        <h5>Me Warning</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/6.jpg" alt="sample123"/>
      <figcaption>
        <h3>Me getting scoldings after not praising my girl after such lovely look</h3>
        <h5>Warning Time</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/7.jpg" alt="sample124"/>
      <figcaption>
        <h3> Being like loverszzzzzzz</h3>
        <h5>Normal Us</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/8.jpg" alt="sample125"/>
      <figcaption>
        <h3>My Sweet litle cutie pie on peaks of cuteness</h3>
        <h5>Cute Us</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1584">
      <img src="./assets/photos/9.jpg" alt="sample126"/>
      <figcaption>
        <h3>Sexy side of my lovely Gf</h3>
        <h5>Sexy</h5>
      </figcaption>
      <a href="#"></a>
    </figure>
  </div>
  <audio id="background-music" loop>
    <source src="/assets/music/Bujji,MyLoveisTrue.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
