body {
    height: 100vh;
    overflow: hidden;
  }
  
  .wall {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .row {
    z-index: -99;
    display: flex;
    animation: ticker-to-left 200s linear infinite;
  }
  
  .row:nth-child(even) {
    animation: ticker-to-right 60s linear infinite;
    justify-content: flex-end;
  }
  
  .row span {
    margin-right: 0.2em;
    font-family: sans-serif;
    color: transparent;
    font-size: 20vh;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000000;
  }
  
  @keyframes ticker-to-left {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes ticker-to-right {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }
  
  /* Unrelated to demo */
  
  @import url('https://fonts.googleapis.com/css?family=Montserrat:800|Poppins:400');
  
  .container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .hero__tagline {
    margin: 0 0 1rem 0;
    color: beige;
  }
  
  .hero__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: beige;
  }
  
  .hero__title span {
    color: beige;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
  }
  
  .hero__title span:hover {
    -webkit-text-stroke: 4px  #ff007f;
  }
  
  .hero__subtitle {
    margin: 1rem 0 0 0;
    color: beige;
  }
  